.single-content img{
    width: 100%;
}

.skeleton-article {
    margin-bottom: 16px;
    background-color: #f0f0f0;
    padding: 16px;
    border-radius: 4px;

}

.skeleton-image {
    width: 100%;
    height: 150px;
    background-color: #e0e0e0;
    border-radius: 4px;
}

.skeleton-line {
    height: 20px;
    background-color: #e0e0e0;
    margin: 8px 0;
    border-radius: 4px;
}

.skeleton-title {
    width: 60%;
}

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

.skeleton-article > div {
    animation: shimmer 1.5s infinite linear;
    background: linear-gradient(to right, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);
    background-size: 1000px 100%;
}
